<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Consulta</title>
  </head>
  <body>
    {% with mensagens = get_flashed_messages() %}
      {% if mensagens %}
        <div class="mensagem">
          {% for msg in mensagens %}
            <p>{{ msg }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    <h2>Editar Consulta</h2>
    <form action="/atualizar_consulta/{{ consulta.id }}" method="POST">
      <label>Nome:</label><br />
      <input type="text" name="nome" value="{{ consulta.nome }}" /><br /><br />

      <label>Especialidade:</label><br />
      <input
        type="text"
        name="especialidade"
        value="{{ consulta.especialidade }}"
      /><br /><br />

      <label>Data:</label><br />
      <input type="date" name="data" value="{{ consulta.data }}" /><br /><br />

      <label>Hora:</label><br />
      <input type="time" name="hora" value="{{ consulta.hora }}" /><br /><br />

      <label>Email:</label><br />
      <input
        type="email"
        name="email"
        value="{{ consulta.email }}"
      /><br /><br />

      <button type="submit">Atualizar</button>
    </form>
  </body>
</html>
