<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Usuarios Cadastrados</title>
    <script>
      async function excluirConsulta(id) {
        const confirmacao = confirm("Deseja mesmo excluir esta consulta?");
        if (!confirmacao) return;

        const resposta = await fetch(`/usuarios/${id}`, {
          method: "DELETE",
        });

        const resultado = await resposta.json();

        const divMensagem = document.getElementById("mensagem");
        divMensagem.textContent = resultado.mensagem || resultado.erro;
        divMensagem.style.display = "block";

        setTimeout(() => {
          divMensagem.style.display = "none";
          location.reload();
        }, 2000); // espera 2 segundos antes de recarregar
      }
    </script>
  </head>
  <body>
    <div id="mensagem" class="mensagem" style="display: none"></div>

    {% with mensagens = get_flashed_messages() %} {% if mensagens %}
    <div class="mensagem">
      {% for msg in mensagens %}
      <p>{{ msg }}</p>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <div class="header-btn">
      <h2>Usuarios</h2>
      <div>
        <a href="/cadastra_usuario"><button class="btn-novo-usuario">Novo Usuario</button></a>
        <a href="/logout"><button class="btn-logout">Sair</button></a>
      </div>
    </div>

    <form class="form-pesquisa" action="">
      <input
        type="text"
        name="nome"
        value="{{ request.args.get('nome', '') }}"
        placeholder="Escreva o nome do usuario"
        id=""
      />
      <button type="submit">Buscar</button>
    </form>

    <table border="1" cellpadding="8">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Tipo</th>
        <th>Senha</th>
        <th>Ações</th>
      </tr>

      {% for u in usuarios %}

      <tr>
        <td>{{ u.nome }}</td>
        <td>{{ u.email }}</td>
        <td>
          {% if u.tipo == 'admin' %} Administrador {% elif u.tipo == 'usuario'
          %} Usuário {% else %} {{ u.tipo }} {% endif %}
        </td>
        <td>{{ u.senha }}</td>
        <td>
          <button onclick="excluirConsulta('{{ u.id }}')">Excluir</button>
          <a href="/editar_usuario/{{ u.id }}"><button>Editar</button></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
