<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Página de Login</title>
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      {% with mensagens = get_flashed_messages() %} {% if mensagens %}
      <div class="mensagem">
        {% for msg in mensagens %}
        <p>{{ msg }}</p>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
      <form action="{{ url_for('efetua_login') }}" method="POST">
        <div class="input-group">
          <label for="username">Email:</label>
          <input type="text" id="username" name="email" required />
        </div>
        <div class="input-group">
          <label for="password">Senha:</label>
          <input type="password" id="password" name="senha" required />
        </div>
        <button type="submit" class="login-btn">Entrar</button>
      </form>
    </div>
  </body>
</html>
